<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form
      action="/editar-foto-perfil"
      method="POST"
      enctype="multipart/form-data"
    >
      <p>Foto de Perfil:</p>
      <input type="file" name="novaFotoPerfil" accept="image/*" />
      <button type="submit">Salvar Foto de Perfil</button>
    </form>
    <a href="/perfil/<%= userId %>">Perfil</a>
  </body>
</html>
