<!-- PAGINA HOME -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Twitter Clone</title>
    <link rel="stylesheet" href="./styles/home.css" />
  </head>
  <body>
    <header>
      <div class="logo">Twitter</div>
      <div class="login" id="loginContainer">
        <% if (usuario) { %>
        <div class="tweetar"><a href="/tweetar">Postar</a></div>
        <div class="login">Bem-vindo, <%= usuario.nome_User %>!</div>
        <% } else { %>
        <div class="login"><a href="/login">Login</a></div>
        <% } %>
      </div>
    </header>
    <main>
      <% tweets.forEach(tweet => { %>
      <div class="tweet">
        <p><%= tweet.user.apelido_User %></p>
        <span><%= tweet.texto_Tweet %></span>
      </div>
      <% }); %>
    </main>
  </body>
</html>
