<!-- PAGINA HOME -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Twitter Clone</title>
    <link rel="stylesheet" href="./styles/home.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <!-- menu -->
      <div class="option__menu">
        <div class="option__center">
          <div class="logo">
            <i class="ri-twitter-x-fill"></i>
          </div>
          <div class="option">
            <div>
              <a href="#"><i class="ri-home-4-line"></i>Home</a>
            </div>
            <div>
              <a href="#"><i class="ri-notification-line"></i>Explore</a>
            </div>
            <div>
              <a href="#"><i class="ri-hashtag"></i>Notifications</a>
            </div>
            <div>
              <a href="#"><i class="ri-mail-line"></i>Messages</a>
            </div>
            <div>
              <a href="#"><i class="ri-bookmark-line"></i>Bookmarks</a>
            </div>
            <div>
              <a href="#"><i class="ri-list-check"></i>Lists</a>
            </div>
            <div>
              <a href="#"><i class="ri-user-line"></i>Profile</a>
            </div>
            <div>
              <a href="#"><i class="ri-more-line"></i>More</a>
            </div>
            <div>
              <button><i class="ri-pen-nib-line"></i> Tweet</button>
            </div>
          </div>
        </div>
      </div>
      <!-- end menu -->

      <!-- content menu -->
      <div class="content__menu">
        <div class="prefer">
          <span><a href="#">Home</a></span>
          <span><i class="ri-star-line"></i></span>
        </div>

        <div class="tweets">
          <div class="tweets__content">
            <div class="profile__msg">
              <div class="profile__img">
                <img src="imgasdas.png" alt="" />
              </div>

              <div class="profile__name">
                <span
                  ><p>
                    Diego <b><i class="ri-checkbox-circle-line"></i>@hypekrl</b>
                  </p></span
                >
              </div>

              <div class="msg">
                <p>Hello pintudos</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end content menu -->

      <div class="rank">
        <p>Rank em manutenção :)</p>
      </div>
    </div>
  </body>
</html>
