<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil do Usuário</title>
    <!-- Adicione seus estilos aqui, se necessário -->
  </head>
  <body>
    <header>
      <div class="logo">Twitter</div>
    </header>
    <main>
      <div class="perfil">
        <h1>Perfil de <%= usuario.nome_User %></h1>
        <p>Apelido: <%= usuario.apelido_User %></p>
      </div>
    </main>
    <script></script>
  </body>
</html>
