* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 26% 39% 35%;
}

.option__menu {
  width: 99.8%;
  border-right: 1px solid #e8e8e8;
  height: 760px;
}

.option__center {
  width: 75%;
  margin: 0 auto;
}

.logo {
  padding: 4% 0 4% 37%;
}

.logo i {
  font-size: 33px;
  color: #000;
}

.option {
  display: grid;
}

.option div a {
  font-size: 20px;
  font-family: 600;
  padding: 12px 15px;
  border-radius: 30px;
  color: #000;
}

.option div a:hover {
  color: #00a7ff;
  background-color: #e1f5ff;
}

.option div {
  padding: 2% 0 8% 31%;
}

.option div a i {
  padding-right: 10px;
  font-weight: 100;
}

.option button {
  padding: 15px 80px;
  border-radius: 30px;
}
