@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #000;
}

/* CONTENT MENU CONTEUDO CENTRAL */
.content__menu {
  width: 100%;
  border-right: solid 1px #2f3336;
}

.prefer {
  display: flex;
  justify-content: space-between;
  color: rgb(221, 218, 8);
  padding: 10px 20px;
  border-bottom: solid 1px #2f3336;
}

.prefer span a {
  color: #fff;
  font-weight: 600;
  font-size: 0.8rem;
  position: relative;
}

.prefer span a::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background: #1d9bf0;
  bottom: -0.3rem;
  left: 0.5rem;
  border-radius: 30px;
}

/* RANK MENU DA DIREITA */
.rank {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinha no topo do contêiner pai */
  padding: 20px;
}

.subscription-section {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza no eixo x */
}

.subscription-box {
  border-radius: 30px;
  border: 1px solid #4a4e51;
  padding: 20px;
  width: 380px;
}

.large-text {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.small-text {
  font-size: 13px;
  color: #575b5f;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: #ccc;
}

.disclaimer-text {
  font-size: 12px;
  color: #575b5f;
}

.disclaimer-text span {
  color: #1572af;
  cursor: pointer;
}

.disclaimer-text span:hover {
  text-decoration: underline;
}

@media (min-width: 992px) and (max-width: 1150px) {
  .container {
    grid-template-columns: 10% 50% 40%;
  }

  .option div {
    padding: 5px 0;
  }

  .option div a p {
    display: none;
  }

  .option div a i {
    margin-right: 0;
  }

  .option__menu {
    align-items: flex-end;
    position: static;
  }

  .option__center {
    position: sticky;
    top: 20px;
  }

  .option .tweetar {
    font-size: 0;
    padding: 0;
    margin-left: 0;
    padding: 10px;
    margin-bottom: 20px;
  }

  .option .tweetar i {
    display: block;
  }

  .mini-card span,
  .mini-card p {
    display: none;
  }

  .mini-card {
    width: 100%;
    padding: 0;
    padding-left: 30px;
    display: flex;
    border-radius: 100%;
    margin-top: auto;
    top: 570px;
  }

  .mini-card a {
    justify-content: flex-end;
  }

  .mini-card:hover {
    background-color: transparent;
    border-color: transparent;
  }

  .mini-card img {
    margin: 0 0 0 30px;
    transition: filter 0.3s ease;
    width: 43px;
  }

  .mini-card:hover img {
    filter: brightness(0.7);
  }

  .subscription-box {
    width: 350px;
  }
}
